:root {
  --color-accent: #001E87;
  --color-accent-2: #00FDAA;
  --color-text-dark: #01153A;
  --color-text-dark-2: #051C3D;
  --color-text-light: white;
  --color-text-light-2: #828D9E;
  --color-text-gray: #94949F;
  --color-bg-light: white;
  --color-bg-light-2: #f2f2f9;
  --color-bg-light-3: #FCFCFF;
  --color-bg-gray: rgba(151, 151, 151, 0.06);
  --color-bg-gray-border: #D0CFDE;
  font-family: Roboto;
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Rubik;
}
h3 {
  font-size: 40px;
}

a {
  text-decoration: none;
}

button.cta {
  cursor: pointer;
  background-color: var(--color-accent-2);
  padding: 15px 50px;
  font-size: 18px;
  font-weight: 700;
  color: var(--color-text-dark);
  border-radius: 4px;
  border: 0;
  font-family: Rubik;
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}