/* Breakpoints */
$breakpoint_340: 340px; /* very quite small! */
$breakpoint_420: 425px;
$breakpoint_754: 754px;
$breakpoint_768: 768px;
$breakpoint_1080: 1080px;
$breakpoint_1440: 1440px;
$breakpoint_2160: 2160px;
$breakpoint_3100: 3100px;

/* Color variables */
$color_damavis_blue: #022387;
$color_accent: #001E87;
$color_accent_2: #00FDAA;
$color_text_dark: #01153A;
$color_text_dark_2: #051C3D;
$color_text_light: white;
$color_text_light_2: #828D9E;
$color_text_gray: #94949F;
$color_bg_light: white;
$color_bg_light_2: #f2f2f9;
$color_bg_light_3: #FCFCFF;
$color_bg_light_4: #DDDDDD;
$color_bg_gray: rgba(151, 151, 151, 0.06);
$color_bg_gray_border: #D0CFDE;
$color_almost_white: #FAFAFF;
