@import 'fonts', 'common', 'animation';

body {
  margin: 0;
  padding: 0;
  color: $color_text_dark;
  background-color: $color_bg_light;
  >div >header, >div >div {
    width: 100%;
    padding-left: 116px;
    padding-right: 116px;
    @media (max-width: $breakpoint_768) {
      padding-left: 36px;
      padding-right: 36px;
    }
    @media (max-width: $breakpoint_420) {
      padding-left: 10px;
      padding-right: 10px;
    }
    box-sizing: border-box;
  }
  >div#main {
    min-height: 100vh;
    /* max-width: 1440px; */
    margin-left: auto;
    margin-right: auto;
    &:not(.dark-bg) {
      padding-top: 110px;
    }
    >div.banner {
      @media (min-width: $breakpoint_754) {
        &.half-half {
          grid-template-columns: 1fr 1fr;
        }
        &.img-left {
          grid-template-columns: 1fr 1.5fr;
        }
        &.img-right {
          grid-template-columns: 1.5fr 1fr;
        }
      }
      @media (max-width: $breakpoint_754) {
        grid-template-columns: 1fr!important;
        &.img-right {
          grid-template-areas: "img" "content";
          >div:last-child {
            grid-area: img;
          }
        }
        >div >img {
          width: 33% !important;
          &.photo {
            width: 100%!important;
          }
          margin: 0 auto!important;
        }
      }
      >div {
        >img {
          display:block;
          margin-top: 3em;
          width: 75%;
          &.photo {
            box-shadow: #666 0px 0px 20px;
            border-radius: 10px;
          }
        }
        &:first-child >img {
          margin-right: auto;
        }
        &:last-child  >img {
          margin-left: auto;
        }
        >ul {
          list-style: none;
          li {
            &::before {
              content: " ";
              color: $color_damavis_blue;
              font-weight: bold;
              display: block;
              width: 0.5em;
              height: 0.5em;
              margin-left: -1.15em;
              position: relative;
              border-radius: 50%;
              background-color: $color_damavis_blue;
              top: 1.25em;
            }
            margin: 0;
            padding: 0;
            line-height: 2em;
          }
        }
      }
    }
    >header.home {
      display: grid;
      grid-template-columns: 2fr 5fr;
      font-family: Rubik, sans-serif;
      font-weight: 400;
      position: fixed;
      top: 0;
      z-index: 101;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 100px;
      /*
      @media (max-width: $breakpoint_1440) {
        padding-left: 30px;
        padding-right: 30px;
      }
      */
      @media (max-width: $breakpoint_1080) {
        padding-left: 0px;
        padding-right: 0px;
      }
      @media (min-width: 1920px) {
        padding-left: 116px;
        padding-right: 116px;
      }
      >a >img {
        height: 56px;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 0;
        @media (min-width: $breakpoint_768) {
          margin-left: 30px;
        }
        @media (max-width: $breakpoint_420) {
          height: 60px;
        }

        height: 85px;
        @media (min-width: $breakpoint_2160) {
          height: 110px;
        }
      }
      >div {
        width: 100%;
        max-height: 857px;
        nav {
          display: flex;
          justify-items: end;
          justify-content: end;
          margin-left: 50px;
          @media (max-width: $breakpoint_1080) {
            margin-left: 0px;
          }
          @media (max-width: $breakpoint_768) {
            >a {
              font-size: 16px;
              margin-bottom: 36px;
            }
          }
          &.langs {
            margin-top: 15px;
            >a {
              &:first-of-type {
                @media (min-width: $breakpoint_1080) {
                  margin-left: auto;
                }
              }
              color: $color_text_dark;
              text-decoration: none;
              display: block;
              margin-left: 10px;
              font-size:12px;
              @media (max-width: $breakpoint_768) {
                font-size: 16px;
              }
              &.active {
                text-decoration: underline;
              }
            }
          }
          &.links {
            @media (min-width: $breakpoint_1440) {
              width: 85%;
            }
            margin-left: auto;
            font-size: 1em;
            /*
            @media (min-width: $breakpoint_1080) and (max-width: $breakpoint_1440) {
              font-size: 0.75em;
            }
            */

            flex-grow: 1;
            justify-content: space-between;
            @media (max-width: $breakpoint_1080) {
              width: 100%;
              margin-left: 0;
            }
            a {
              color: $color_text_dark;
              text-decoration: none;
              margin-top: 18px;
              margin-bottom: 18px;
              font-size: 0.8em;
              &.active:after {
                content: " ";
                background-color: $color_text_dark;
                height: 5px;
                width: 20px;
                margin-left: auto;
                margin-right: auto;
                margin-top: 8px;
                display: block;
                border-radius: 5px;
              }
              @media (max-width: $breakpoint_1080) {
                font-size: 1.5em;
                text-align: center;
              }
            }
          }
          &.links > a {
            @media (max-width: $breakpoint_340) {
              margin: 11px 10px;
              font-size: 1.2em;
            }
          }

          &.social {
            @media (min-width: $breakpoint_1080) {
              display: none;
            }
          }
          &.social {
            >img {
              height: 56px;
            }
            &.invert {
              filter: invert(1);
            }
          }
        }
        div.burger {
          display: none;
        }
      }
      @media (max-width: $breakpoint_1080) {
        padding-bottom:10px!important;
        grid-template-columns: 1fr;
        grid-template-areas: "links" "social" "langs";
        /* margin-bottom: 200px; */
        &.active {
          margin-bottom: 0;
          background-color: rgba(0,0,0,0.8);
        }
        >div {
          display: grid;
          justify-items: center;
          align-items: center;
          grid-template-areas: "links" "social" "langs";
        }
        >div nav.links {
          grid-area: links;
          flex-direction: column;
        }
        >div nav.langs {
          grid-area: langs;
          justify-content: center;
          @media (max-height: 400px) {
            font-size: 0.7em;
            margin-top: 0;
            >a {
              margin-bottom: 0;
            }
          }
        }
        >div nav.social {
          grid-area: social;
          >img {
            max-height: 30px;
            margin: 4px 8px;
            @media (max-height: 400px) {
              height: 1em;
            }
          }
        }
        &:not(.active) >div nav {
          display: none!important;
        }
        >div div.burger {
          width: 32px;
          height: 32px;
          cursor: pointer;
          background-image: url('../img/icons/Burger.png');
          background-position: center center;
          position: fixed;
          top: 0px;
          right: 10px;
          display: block;
          margin-left: auto;
          margin-top: 11px;
          @media (max-width: $breakpoint_420) {
            margin-top: 20px;
          }
          z-index: 1001;
        }
      }
      &.active {
        >div {
          @media (max-width: $breakpoint_1080) {
            margin-top: 12px;
          }
        }
        >div div.burger {
          background-image: url('../img/icons/Close.png');
        }
      }
      &.relative {
        >div nav a {
          color: white;
          &:after {
            background-color: white!important;
          }
        }
        >div nav a:visited {
          color: white;
        }
        >div >nav.social {
          background-color: transparent;
          @media (max-width: $breakpoint_420) {
            justify-content: center;
          }
        }
        @media (max-width: $breakpoint_768) {
          background-color: rgba(0,0,0,0.95);
        }
      }
      &.fixed {
        color: $color_text_dark;
        position: fixed;
        /* background-color: white; */
        background: linear-gradient(180deg, rgba(255,255,255,0.95) 97%, rgba(255,255,255,0) 100%);
        >div:first-of-type {
          /* background-color: white; */
          @media (max-width: $breakpoint_1080) {
            background-color: $color_almost_white;
          }
        }
        >div >nav.social {
          /* background-color: $color_text_dark_2; */
          @media(max-width: $breakpoint_420) {
            justify-content: center;
          }
        }
      }
    }
    >div {
      padding-top: 90px;
      padding-bottom: 90px;
      @media (max-width: $breakpoint_768) {
        padding-top: 15px;
        padding-bottom: 30px;
      }
      div.double-title {
        color: $color_text_dark_2;
        h1, >h3 {
          font-size: 2.22em;
          @media (max-width: $breakpoint_1080) {
            font-size: 1.4em;
          }
          @media (max-width: $breakpoint_420) {
            font-size: 1em;
          }
          margin-top: 0px!important;
          margin-bottom: 1em;
          font-weight: 500;
        }
        >h1 {
          font-size: 3.5em;
          margin-bottom: 1em;
        }
        >p {
          font-family: Rubik;
          font-size: 0.88em;
          margin-bottom: 10px;
          text-transform: uppercase;
          color: #051C3D;
        }
        >p:not(.content) {
          letter-spacing: -1px;
        }
        >p.content {
          text-transform: none;
          font-family: Roboto;
        }
      }
      &.datadriven div.double-title {
        >h3 {
          margin-top: 0px;
          font-size: 1.7em;
        }
        >p.content {
          font-family: Roboto!important;
          font-size: 1em;
          text-transform: none;
          letter-spacing: normal;
        }
      }
      p {
        color: $color_text_dark_2;
        /* font-size: 0.78em; */
        line-height: 1.25em;
        font-weight: 300;
      }
      &.big-banner {
        display: grid;
        grid-template-columns: 2fr 1fr;
        @media (max-width: $breakpoint_420) {
          grid-template-columns: 1fr;
        }
        >div.double-title {
          >h3 {
            font-size: 3.18em;
          }
          >p.content {
            font-size: 1.09em;
          }
        }
      }
    }
    >div.home.banner {
      color: white;
      padding: 0px;
      padding-top: 100px;

      &.banner_video {
        background-image: url('../img/video-bg.png');
        >div.video,
        >div.banner-content {
          height: 550px;
          @media (min-height: 650px) {
            max-height: calc(100vh - 89px);
          }
          @media (min-width: $breakpoint_420) {
            height: 580px;
          }
          @media (min-width: $breakpoint_768) {
            height: 580px;
          }
          @media (min-width: $breakpoint_1080) {
            height: 850px;
          }
          @media (min-width: $breakpoint_1440) {
            height: 850px;
          }
          @media (min-width: $breakpoint_2160) {
            max-height: 75vh;
          }
        }
      }

      >div.video {
        padding-left: 0px;
        padding-right: 0px;
        width: 100%;
        overflow: hidden;
        position: absolute;
        background-image: url('../img/video-bg.png');
        /* width: 100vw; */
        >video#header_video {
          top: 0px;
          margin-left: auto;
          margin-right: auto;
          display: block;
          /*
          min-height: 60vh;
          max-height: 85vh;
          @media (min-width: $breakpoint_2160) {
            width: 100vw;
            height: auto;
          }
          */
          @media (min-width: 1920px) {
            width: 100vw;
          }
          z-index: 1;
        }
      }

      >div.banner-content {
        top: 0px;
        /*
        @media (min-width: #{$breakpoint_1080+1}) {
          height: 640px;
        }
        */

        z-index: 2;
        padding-left: 116px;
        padding-right: 116px;

        @media (min-width: $breakpoint_1080) {
          width: 85%;
        }
        @media (min-width: $breakpoint_1440) {
          width: 65%;
        }
        @media (min-width: $breakpoint_2160) {
          width: 55%;
        }


        @media (min-width: $breakpoint_2160) {
          padding-left: 275px;
          padding-right: 275px;
        }
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media (max-width: $breakpoint_1080) {
          padding-left: 36px;
          padding-right: 36px;
        }
        >h1 {
          font-size: 70px;
          @media (max-width: $breakpoint_768) {
            font-size: 34px;
            line-height: 36px;
          }
          font-weight: 500;
          line-height: 73px;
          margin-bottom: 0px;
          margin-top: 0px;

        }
        >p {
          /* font-size: 24px; */
          @media (max-width: $breakpoint_768) {
            /* font-size: 14px; */

            margin-top: 10px;
          }
          line-height: 1.2em;
          font-weight: 300;
          color: white;
        }
        >button.cta {
          align-self: start;
        }

        /*
        min-height: 450px;
        @media (min-width: $breakpoint_420) {
          height: 478px;
        }
        @media (min-width: $breakpoint_768) {
          min-height: 540px;
        }
        @media (min-width: $breakpoint_1080) {
          min-height: 750px;
        }
        @media (min-width: $breakpoint_1440) {
          min-height: 750px;
        }
        @media (min-width: $breakpoint_2160) {
          min-height: 1080px;
        }
        */

      }
    }
    >div.home.services {
      /* height: 787px; */
      background-color: $color_bg_light_2;
      padding-top: 10px;
      @media (min-width: 420px) {

      }
      >div.double-title >h3 {
        @media (min-width: $breakpoint_768) {
          max-width: 50vw;
        }
      }
      >div.cards {
        margin-top: 90px;
        width: 100%;
        display: table;
        display: grid;

        grid-template-columns: repeat(4, 1fr);
        @media (max-width: $breakpoint_1080) {
          grid-template-columns: 1fr 1fr;
        }
        @media (max-width: $breakpoint_420) {
          grid-template-columns: 1fr;
        }
        grid-gap: 1em;
        >div.card {
          display: table-cell;
          display: flex;
          flex-direction: column;
          background-color: white;
          padding: 0px;
          @media (max-width: $breakpoint_420) {
            max-width: 85%;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 20px;
          }
          >img, video {
            /* box-shadow: 3px 3px 6px 0px #828D9E; */
            /* border-bottom: 4px solid $color_bg_light_2; */
            margin: 10% auto;
            width: 80%;
            height: auto;
          }
          >a {
            margin-top: 1px;
            font-family: Rubik, sans-serif;
            /* box-shadow: 3px 3px 6px 0px #828D9E; */
            color: $color_text_dark_2;
            font-weight: 500;
            padding-left: 15px;
            height: 75px;
            @media (max-width: $breakpoint_1080) {
              height: 45px;
            }

            display: flex;
            align-items: center;
            align-content: center;
            text-decoration: none;
            border-top: 4px solid #f2f2f9;
            &:hover {
              background-color: $color_text_dark;
              color: $color_text_light;
            }
          }
        }
      }
    }
    >div.home.data-driven {
      display: grid;
      padding-top: 90px;
      @media (max-width: $breakpoint_1080) {
        padding-top: 15px;
        grid-template-columns: 1fr;
        grid-template-areas: "desc" "steps";
      }
      @media (min-width: $breakpoint_1080) {
        grid-template-columns: 2fr 4fr;
        grid-template-areas: "steps desc";
      }
      margin-left: auto;
      margin-right: auto;
      >div.steps {
        grid-area: steps;
        align-self: start;
        height: auto;
        font-family: Rubik;
        font-weight: 500;
        display: grid;
        grid-template-columns: 202px 100px 100px;
        align-items: start;
        margin-left: auto;
        margin-right: auto;
        transform-origin: top center;
        >div {
          font-size: 22px;
          >div.stage {
            font-size: 12px;
          }
        }
        >video, lottie-player {
          margin-top: -8px;
          height: 64px;
          >svg {
            position: relative;
            top: -20px;
          }
        }
        img.pointer {
          grid-column: 1 / span 3;
          position: relative;
          z-index: 1001;
          left: 217px;
          width: 22px;
          @media (max-width: $breakpoint_420) {
            left: 190px;
          }
        }
        img:not(.pointer) {
          width: 52px;
        }
        @media (max-width: $breakpoint_420) {
          grid-template-columns: 175px 70px 60px;
        }
        @media (max-width: $breakpoint_768) {
          transform: scale(0.80);
        }
        @media (min-width: $breakpoint_2160) {
          transform: scale(1.1);
        }
        @media (min-width: $breakpoint_3100) {
          transform: scale(2);
        }
      }
      >div:not(.lottie):nth-child(2) {
        grid-area: desc;

        @media (max-width: $breakpoint_768) {
          padding: 0;
        }
        @media (min-width: $breakpoint_1440) {
          padding: 0px 110px;
        }
        @media (min-width: $breakpoint_3100) {
          width: 70%;
        }
      }
      @media (min-width: $breakpoint_3100) {
        height: 1280px;
      }
    }
    >div.home.team {
      background-color: $color_bg_light_2;
      display: grid;
      grid-template-columns: 1fr 1fr;
      >div:nth-child(1) {
        @media (min-width: $breakpoint_1080) {
          padding-right: 50px;
        }
      }
      >div:nth-child(2) > img {
        margin-top: 20px;
        width: 99%;
      }
      @media (max-width: $breakpoint_768) {
        grid-template-columns: 1fr;
      }
    }
    >div.home.clients {
      background-color: $color_bg_light_3;
      >div.logos {
        display: -ms-flexbox!important;
        display: -ms-flex;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        @media (max-width: $breakpoint_1080) {
          grid-template-columns: repeat(3, 1fr);
        }
        @media (max-width: $breakpoint_768) {
          grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: $breakpoint_420) {
          grid-template-columns: repeat(1, 1fr);
        }
        justify-content: center;
        justify-items: center;
        >img {
          display: block;
          flex-basis: 25%;
          @media (min-width: $breakpoint_1080) {
            &:last-child { grid-column: 3; }
          }
        }
      }
    }
    >div.home.contact {
      background-color: $color_bg_light_3;
      background-image: url("../img/contact-bg.png");
      background-position-y: bottom;
      background-repeat: repeat-x;
      >div.contact-form {
        background-color: white!important;

        @media (min-width: $breakpoint_1080) {
          width: 65%;
        }
        @media (max-width: $breakpoint_768) {
          width: 95%;
        }
        margin-left: auto;
        margin-right: auto;
        border: 1px solid #DDD;
        box-shadow: #9086B0 3px 3px 30px;
        >div.double-title {
          margin-top: 1.8em;
          >h3 {
            padding: 0 5%;
          }
        }
        >form {
          margin-bottom: 20px;
          >* {
            display: block;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
          }
          label {
            font-size: 14px;
            color: $color_text_dark_2;
            margin-bottom: 14px;
          }
          input:not([type=checkbox]):not([type=submit]), textarea {
            padding: 15px;
            box-sizing: border-box;
            margin-bottom: 14px;
            font-size: 1.1em;
            font-family: Roboto;
            &::placeholder {
              font-weight: 100;
            }
            &.visited:invalid:not(:focus) {
              background-image: url("../img/icons/InputError.png");
              background-position: right center;
              background-repeat: no-repeat;
              border: 4px solid #f95f15!important;
              color: #f95f15;
              &::placeholder {
                color: #f95f15;
              }
            }
          }
          >a.cta {
            width: 50%;
            margin-top: 20px;
            margin-bottom: 20px;
            text-align:center;
          }
          >p.small-font {
            color: #94949F;
            font-size: 70%;
            text-align: center;
            margin: 0 auto;
          }
        }
        >div.form-sent {
          width: 100%;
          min-height: 50vh;
          background-color: $color_bg_light_4;
          display: flex;
          align-items: center;
          justify-items: center;
          justify-content: center;
          flex-direction: column;
          font-family: Rubik;
          >h3, p {
            font-size: 1.1em;
            margin: 0;
            margin-top: 0.5em;
          }
          >h3 { font-weight: 500; }
        }
        >a.contact-jobs-link {
          /* margin-top: 20px; */
          margin-bottom: 0px;
          font-family: Rubik;
          background-color: $color_bg_gray;
          color: $color_text_dark;
          font-weight: 500;
          font-size: 22px;
          padding-left: 15px;
          text-align: center;
          height: 70px;
          display: flex;
          align-items: center;
          align-content: center;
          justify-content: center;
          text-decoration: none;
          border-bottom: 1px solid $color_bg_gray_border;
          border-top: 1px solid $color_bg_gray_border;
          &:hover {
            background-color: $color_text_dark;
            color: white;
          }
        }
      }
    }
    >div.datadriven.big-banner {
      background-color: $color_bg_light_2;
    }
    >div.datadriven.data-driven {
      >div.steps {
        display: grid;
        grid-template-columns: 1fr 1fr;
        @media (max-width: $breakpoint_420) {
          grid-template-columns: 1fr;
        }
        justify-content: center;
        grid-row-gap: 20px;
        >video {
          margin-top: 30px;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
    >div.services.big-banner > div.double-title {
      h3 {
        font-size: 2.27em;
      }
    }
    >div.services.technology {
      background-color: $color_almost_white;
      background-image: url('../img/sevices-technology-background.png');
      &.ai {
        background-color: #F2F2F9;
        background-image: url('../img/sevices-technology-ai-bg.png');
      }
      &.viz {
        background-color: $color_almost_white;
        background-image: url('../img/sevices-technology-viz-bg.png');
      }
      &.rt {
        background-color: white;
        background-image: url('../img/services-bg-rt.png');
        padding-bottom: 0px;
      }
      &.last {
        background-image: none;
        background-color: white;
        margin-top: 0px;
        padding-top: 0px;
        >div.double-title {
          grid-column: 1 / span 2;
        }
      }
      >div.double-title {
        margin-top: 3em;
        margin-bottom: 3em;
      }
      background-position: top right;
      background-repeat: no-repeat;
      >div.cards {
        margin-top: 1em;
        grid-column: 1 / span 2;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        @media (max-width: $breakpoint_1080) {
          grid-template-columns: 1fr 1fr;
        }
        @media (max-width: $breakpoint_768) {
          grid-template-columns: 1fr;
        }

        grid-column-gap: 2em;
        grid-row-gap: 2em;
        >div {
          background-color: white;
          padding: 12px;
          box-sizing: border-box;
          >img {
            width: 100%;
          }
          >h3 {
            font-size: 1.18em;
            font-weight: 500;
          }
        }
      }
      >div.logos {
        grid-column: 1 / span 2;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        margin-left: auto;
        margin-right: auto;
        @media (max-width: $breakpoint_1080) {
          grid-template-columns: 1fr 1fr 1fr;
        }
        @media (max-width: $breakpoint_420) {
          grid-template-columns: 1fr 1fr;
        }
        >img {
          width: 100%;
          display: block;
          height: auto;
        }
      }
    }
    >div.about.big-banner {
      grid-template-columns: 1fr 1.25fr;
      @media (max-width: $breakpoint_754) {
        grid-template-columns: 1fr;
      }
      >div:first-child {
        display: flex;
        align-items: flex-start;
        justify-items: center;
        justify-content: center;
        @media (min-width: $breakpoint_768) {
          padding-top: 6.5em;
        }
        >img {
          margin-left: auto;
          margin-right: auto;
          width: 80%;
        }
        >video {
          width: 100%;
          @media (max-width: $breakpoint_768) {
            max-width: 275px;
          }
        }
      }
      >div.double-title > h3 {
        font-size: 2.27em;
      }
      >div >div.placeholder {
        display: flex;
        align-items: center;
        justify-content: center;
        text-shadow: #00FDAA 3px 3px;
        color: white;
        background-color: $color_bg_light_2;
        border: 3px dashed $color_bg_gray_border;
        width: 80%;
        height: 500px;
      }
    }
    >div.about.manifesto {
      background-color: $color_almost_white;
      >div.double-title >h3 {
        font-size: 1.82em;
        color: $color_damavis_blue!important;
        max-width: 75%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1em!important;
        >strong {
          font-weight: 700;
          text-decoration: underline;
          text-decoration-color:  $color_accent_2;
        }
      }
      >div.cards {
        margin-top: 5em;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        @media (max-width: $breakpoint_754) {
          grid-template-columns: 1fr;
          grid-row-gap: 1.5em;
        }
        grid-column-gap: 3%;
        >div.card {
          background-color: white;
          border-radius: 10px;
          box-shadow: 0px 0px 30px #9086B0;
          padding: 20px 0;
          >h3 {
            margin: 0px;
            margin-left: 20px;
            margin-bottom: 0.5em;
            font-size: 30px;
            font-weight: 500;
            color: $color_damavis_blue!important;
          }
          >div.hr {
            height: 1.5px;
            background-color: #D0CFDE;
            width: 100%;
          }
          >p {
            font-weight: bold;
            font-size: 0.91em;
            margin-left: 20px;
            margin-right: 20px;
            line-height: 1.4em;
            &.name {
              margin-top: 15px!important;
            }
          }
        }
      }
    }
    >div.team {
      grid-template-columns: 1fr;
      >div.double-title {
        margin-bottom: 2em;
        >p.content {
          @media (min-width: $breakpoint_754) {
            max-width: 50%;
          }
        }
      }
      >div.cards {
        display: grid;

        grid-column-gap: 1.5em;
        grid-row-gap: 1.5em;
        grid-template-columns: repeat(4, 1fr);

        @media (max-width: $breakpoint_1080) {
          grid-column-gap: 1em;
          grid-row-gap: 1em;
          grid-template-columns: repeat(2, 1fr);
          >p { font-size: 1em; }
        }
        @media (max-width: $breakpoint_420) {
          grid-column-gap: 0.5em;
          grid-row-gap: 0.5em;
        }
        @media (max-width: $breakpoint_340) {
          grid-template-columns: 1fr;
        }

        width: 100%;
        >div.card {
          box-shadow: #ddd 0px 0px 15px 7px;
          display: flex;
          flex-direction: column;
          >img {
            width: 100%;
          }
          >div.footer {
            background-color: $color_text_dark;
            position: relative;
            margin-top: auto;
            box-sizing: border-box;
            padding: 10px;
            /* min-height: 105px; */
            @media (max-width: $breakpoint_1080) {
              font-size: 0.9em;
            }
            @media (max-width: $breakpoint_754) {
              font-size: 1.06em;
            }
            @media (max-width: $breakpoint_420) {
              font-size: 0.85em;
            }


            p {
              margin: 0;
              font-family: Rubik;
              font-weight: 500;
              &.name {
                color: white!important;
                color: white;
                z-index: 1002;
              }
              &.position {
                margin-bottom: 5px;
                color: $color_accent_2;
                font-size: 85%;
                min-height: 2.5em;
              }
            }
            div.social {
              >a >img {
                height: 1em;
                @media (max-width: $breakpoint_420) {
                  height: 1.4em;
                  margin-right: 0.4em;
                }
              }
            }
          }
        }
      }
    }
    >div.team.great-place {
      background-color: $color_almost_white;
      >div.quotes {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
                  "quote1 quote2 quote3"
                  "author1 author2 author3";

        @media (max-width: $breakpoint_1080) {
          grid-template-columns: 1fr;
          grid-template-areas:
                  "quote1" "author1"
                  "quote2" "author2"
                  "quote3" "author3";
        }
        grid-column-gap: 1rem;

        >p {
          font-size: 1.44rem;
          margin-top: 0;
          text-align: left;
          padding-left: 36px;
          box-sizing: border-box;
          margin-bottom: 0.5em;

          &.quote {
            background-image:url('../img/icons/Quote.png');
            background-repeat: no-repeat;
            background-position: left top;
            @media (min-width: $breakpoint_1080) {
              min-height: 9rem;
            }
          }
          &.author {
            font-size: 1em;
            font-weight: 500;
            margin-bottom: 3em;
          }
        }
      }
    }
    >div.team.life {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "photos description";
      @media (max-width: $breakpoint_768) {
        grid-template-columns: 1fr;
        grid-template-areas: "text" "photos";
      }
      >div.photo {
        columns: 2 auto;
        @media (max-width: $breakpoint_420) {
          columns: 1 auto;
        }
        column-gap: 1em;
        grid-area: photos;
        >img {
          display: block;
          margin-right: 1em;
          margin-bottom: 1em;
          width: 100%;
        }
      }
      >div:nth-child(2) {
        @media (min-width: $breakpoint_768) {
          margin-left: 4em;
          margin-top: 10em;
        }
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
      }
    }
    >div.work.frame-1 {
      >div.double-title {
        @media (min-width: $breakpoint_768) {
          max-width: 65%;
          >h3 {
            line-height: 1.1em;
          }
          >p.content {
            max-width: 80%;
          }
        }
      }
    }
    >div.work.frame-2 {
      display: grid;
      background-color: $color_almost_white;
      >div:first-child {}
      >div.double-title {
        >h3 {
          line-height: 1.1em;
        }
        >p.content {
          max-width: 80%;
        }
      }
    }
    >div.work.frame-3 {
      display: grid;
      >div:first-child {}
      >div:last-child {}
    }
    >div.work.frame-4 {
      display: grid;
      background-color: $color_almost_white;
      >div:first-child {
      }
    }
    >div.work.frame-5 {
      display: grid;
    }
    >div.contact.spanner {
      height: 0;
      padding: 0;
      margin-bottom: 56px;
      @media (max-width: 420px) {
        margin-bottom: 0px;
      }
    }
    >div.terms {
      background-color: $color_bg_light_2;
      >div.double-title {
        margin-top: 2em;
        >h3 {
          margin-bottom: 0.5em;
        }
      }
    }
    >footer {
      background-color: $color_text_dark_2;
      color: white;
      padding: 30px 30px 30px 30px;

      @media (min-width: $breakpoint_1440) {
        padding: 50px 110px 30px 110px;
      }

      >div.footer-content {
        display: grid;
        grid-template-columns: 2fr 7fr;
        grid-template-areas: "logo social" "logo menu";
        @media (max-width: $breakpoint_1080) {
          grid-template-columns: 1fr;
          grid-template-areas: "social" "menu" "logo";
        }
        >img.footer-logo {
          grid-row: 1 / span 2;
          height: 70px;
          @media (max-width: $breakpoint_768) {
            height: 48px;
          }
          grid-area: logo;
          @media (max-width: $breakpoint_1080) {
            margin-left: auto;
            margin-right: auto;
          }
        }
        >div.social {
          display: flex;
          grid-area: social;
          justify-content: center;
          @media (min-width: $breakpoint_1080) {
            justify-content: flex-end;
          }
          /*
          @media (min-width: $breakpoint_768) {
            justify-content: flex-end;
          }
          */
          height: 48px;
          padding-bottom: 15px;
          >img {
            max-height: 30px;
            margin-left: 15px;
          }
        }
        >nav {
          display: flex;
          grid-area: menu;
          @media (max-width: $breakpoint_1080) {
            flex-direction: column;
            justify-items: center;
            justify-content: center;
            text-align: center;
          }
          justify-content: space-between;
          >a {
            font-size: 1em;
            font-family: Rubik;
            color: white;
            @media (max-width: $breakpoint_1080) {
              text-align: center;
              margin-bottom: 26px;
              font-weight: 400;
              font-size: 16pt;
            }
          }
        }
      }
      >p.footer-copyright {
        font-size: 0.99em;
        margin-top: 50px;
        @media (max-width: $breakpoint_1080) {
          text-align: center;
        }
        >a {
          color: white;
        }
      }
    }
  }
}
