@import "vars";

:root {
  font-family: Roboto;
  font-size: 30px;
  @media (max-width: $breakpoint_2160) {
    font-size: 24px;
  }
  @media (max-width: $breakpoint_1440) {
    font-size: 21px;
  }
  @media (max-width: $breakpoint_1080) {
    font-size: 19px;
  }
  @media (max-width: $breakpoint_768) {
    font-size: 16px;
  }
}

html, body { margin: 0; padding: 0; }
html { overflow-y: scroll; scroll-behavior: smooth; }

h1, h2, h3, h4, h5, h6 {
  font-family: Rubik;
}
h3 {
  font-size: 2.5em;
}

a {
  text-decoration: none;
}

button.cta, a.cta {
  cursor: pointer;
  background-color: $color_accent_2;
  padding: 0.75vw 1.15vw;
  @media (max-width: $breakpoint_420) {
    padding: 3vw 2.5vw;
  }
  font-size: 1em;
  font-weight: 700;
  color: $color_text_dark;
  border-radius: 0.35vw;
  border: 0;
  font-family: Rubik;
  margin-bottom: 1em;
  &[disabled] {
    background-color: #e8ffff;
    color: #6b7a7a;
  }
}

.link {
  cursor: pointer;
}
button.cta:hover, a.cta:hover, nav > a:hover, .link:hover, .social > a:hover {
  filter: invert(15%);
}
.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.hide {
  display: none!important;
}
.hidden {
  visibility: hidden!important;
}


body {
  >div >div.grecaptcha-badge {
    box-shadow: none!important;
  }
  >div.modal-backdrop, >div.modal-dialog {
    position: fixed;
  }
  >div.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 101;
    width: 100vw;
    height: 100vh;
    top: 0px;
  }
  >div.modal-dialog {
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-family: Roboto, Verdand, serif;
    font-weight: 300;

    background-color: white;
    z-index: 102;
    width: 80vw;
    bottom: 0px;
    left: 10vw;
    @media (min-width: $breakpoint_768) {
      width: 50%;
      left: 40vw;
    }
    >a.button.close {
      background-image: url("../img/icons/Close.png");
      background-position: center;
      width: 32px;
      height: 32px;
      margin-right: 1em;
      margin-top: 1em;
      display: block;
      margin-left: auto;
      cursor: pointer;
    }
    >div.modal-body {
      display: grid;
      grid-template-columns: 1fr 3fr 0.5fr;
      padding-left: 1em;
      padding-right: 1em;
      padding-bottom: 2em;
      grid-column-gap: 10px;

      >img {
        display: block;
        width: 75%;
        height: auto;
        margin-top: 0.5em;
        margin-left: auto;
        margin-right: auto;
        align-self: start;
      }
      >div:first-of-type {
        >h3 {
          font-size: 1.25em;
        }
        >p {
          font-size: 0.875em;
          line-height: 1.375em;
          color: #2E2D32;
          >a {
            text-decoration: underline;
            color: $color_text_dark;
          }
        }
        >button.cta {
          width: 100%;
        }
      }
      >div.bottom-buttons {
        grid-column: 2;
        display: flex;

        >button.cta, >button.close {
          width: 100%;
          margin-right: 1em;
          &.close {
            background-color: white;
            border: 1px solid $color_text_dark_2;
          }
          @media (min-width: $breakpoint_768) {
            margin-top: 2em;
            grid-column: 2;
          }
        }
      }
    }
  }
}